.Room {
  padding: 2rem;

  &Boundary {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &Content {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &ZeroPoint {
      position: relative;
    }
  }
}
