@font-face {
  font-family: "kongtext";
  src: local("kongtext"), url(./../src/fonts/kongtext.otf) format("opentype");
}

html,
body,
#root {
  height: 100%;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: kongtext, Arial, serif;
}

.App {
  height: 100%;

  &Router {
    height: 100%;

    & > div {
      height: 100%;
    }
  }
}

.nes-container {
  background: white;
}
